ALERT RTS_Qps
    IF rts_requests{timeinterval="recent-avg"} * on(instance,name) group_left(environment)app_pod_info{environment="prod"}==0
    FOR 10m
    ANNOTATIONS {
    summary = "RTS pod {{ $labels.instance }} is not receiving traffic",
    description = "{{ $labels.instance }} qps is less than 5. Please check if ingress is configured properly and ingress controller is ingesting traffic. (current value: {{ $value }} qps)",
    }

ALERT RTS_Response_Time
    IF rts_response_time{timeinterval="recent-avg"} * on(instance,name) group_left(environment)app_pod_info{environment="prod"}>120
    FOR 10m
    ANNOTATIONS {
    summary = "RTS pod {{ $labels.instance }} average response time over 120ms",
    description = "{{ $labels.instance }} average response time over 120ms. Please check if QPS is not too high, increase throttling. (current value: {{ $value }} ms)",
    }

ALERT PRTS_Fwd_Trip_Time
    IF prts_fwd_trip_time{timeinterval="recent-avg"} * on(instance,name) group_left(environment)app_pod_info{environment="prod"}>5
    FOR 10m
    ANNOTATIONS {
    summary = "PRTS pod {{ $labels.instance }} average forward time over 5ms",
    description = "{{ $labels.instance }} average forward time time over 5ms. Please check if QPS is not too high, increase number of PRTS pods. (current value: {{ $value }} ms)",
    }

ALERT PRTS_Qps
    IF prts_requests{timeinterval="recent-avg"} * on(instance,name) group_left(environment)app_pod_info{environment="prod"}==0
    FOR 10m
    ANNOTATIONS {
    summary = "PRTS pod {{ $labels.instance }} is not receiving traffic",
    description = "{{ $labels.instance }} qps is 0. Please check if ingress is configured properly and ingress controller is ingesting traffic. (current value: {{ $value }} qps)",
    }

ALERT ED_No_Responses
    IF ed_no_responses{timeinterval="recent-avg"} * on(instance,name) group_left(environment)app_pod_info{environment="prod"}>0
    FOR 10m
    ANNOTATIONS {
    summary = "ED pod {{ $labels.instance }} is not receiving responses",
    description = "{{ $labels.instance }} is not receiving responses. Please check if MPC/RTB is configured properly. (current value: {{ $value }} qps)",
    }

ALERT ED_Qps
    IF edApp_QPS * on(instance,name) group_left(environment)app_pod_info{environment="prod"}==0
    FOR 10m
    ANNOTATIONS {
    summary = "ED pod {{ $labels.instance }} is not receiving traffic",
    description = "{{ $labels.instance }} qps is 0. Please check if RTS is configured correctly and rts qps > 0. (current value: {{ $value }} qps)",
    }

ALERT ED_Fill_Rate
    IF ed_fill_rate{timeinterval="recent-avg"} * on(instance,name) group_left(environment)app_pod_info{environment="prod"}<1.25
    FOR 10m
    ANNOTATIONS {
    summary = "ED pod {{ $labels.instance }} fill rate is less than 1.25",
    description = "{{ $labels.instance }} fill rate is less than 1.25. Please check filters configuration on RTB layer. (current value: {{ $value }} fill rate)",
    }

