ALERT BH_Qps
    IF bh_total_requests{endpoint="overall",timeinterval="recent-avg"} * on(instance,name) group_left(environment)app_pod_info{environment="prod"}==0 
    FOR 10m
    ANNOTATIONS {
    summary = "BH pod {{ $labels.instance }} is not receiving traffic",
    description = "{{ $labels.instance }} qps is less than 5. Please check if ingress is configured properly and ingress controller is ingesting traffic. (current value: {{ $value }} qps)",
    }
