ALERT FS_Free
    IF topk(1, (node_filesystem_avail{device=~"/dev/sd.*"} / node_filesystem_size{device=~"/dev/sd.*"}) * on(instance) group_left(nodename) node_uname_info) by(device,nodename) < 0.2
    FOR 10m
    ANNOTATIONS {
    summary = "{{ $labels.device }} on {{ $labels.nodename }} has less than 20% free",
    description = "We might be running out of disk space on a device. Please check what is consuming disk space and clean it up if possible. (current value: free {{ $value }} %)",
    }