ALERT K8S_Node_NotReady
    IF kube_node_status_ready{condition="true"} != 1
    FOR 10m
    ANNOTATIONS {
    summary = "Node {{ $labels.node }} is not ready",
    description = "Kubelet is not running on the node. Please check if the the docker and kubelet services are running on the box and for errors in kubelet logs.",
    }

ALERT K8S_Proxy_NotReady
    IF kube_pod_status_ready{pod=~"kube-proxy.*",condition="true"} * on(pod) group_left(node) kube_pod_info != 1
    FOR 10m
    ANNOTATIONS {
    summary = "Proxy on node {{ $labels.node }} is not ready",
    description = "The proxy pod is not running. Please check if the the docker and kubelet services are running on the box and for errors in the pod logs.",
    }

ALERT K8S_ApiServer_NotReady
    IF kube_pod_status_ready{pod=~"kube-apiserver.*",condition="true"} * on(pod) group_left(node) kube_pod_info != 1
    FOR 10m
    ANNOTATIONS {
    summary = "Api server on node {{ $labels.node }} is not ready",
    description = "The api server pod is not running. Please check if the the docker and kubelet services are running on the box and for errors in the pod logs.",
    }

ALERT K8S_ControlManager_NotReady
    IF kube_pod_status_ready{pod=~"kube-controller-manager.*",condition="true"} * on(pod) group_left(node) kube_pod_info != 1
    FOR 10m
    ANNOTATIONS {
    summary = "Control manager on node {{ $labels.node }} is not ready",
    description = "The control manager pod is not running. Please check if the the docker and kubelet services are running on the box and for errors in the pod logs.",
    }

ALERT K8S_Scheduler_NotReady
    IF kube_pod_status_ready{pod=~"kube-scheduler.*",condition="true"} * on(pod) group_left(node) kube_pod_info != 1
    FOR 10m
    ANNOTATIONS {
    summary = "Scheduler on node {{ $labels.node }} is not ready",
    description = "The scheduler pod is not running. Please check if the the docker and kubelet services are running on the box and for errors in the pod logs.",
    }

ALERT K8S_EtcdServer_NotReady
    IF kube_pod_status_ready{pod=~"etcd-server.*",condition="true"} * on(pod) group_left(node) kube_pod_info != 1
    FOR 10m
    ANNOTATIONS {
    summary = "Scheduler on node {{ $labels.node }} is not ready",
    description = "The scheduler pod is not running. Please check if the the docker and kubelet services are running on the box and for errors in the pod logs.",
    }

ALERT K8S_Flannel_NotReady
    IF kube_pod_status_ready{pod=~"kube-flannel.*",condition="true"} * on(pod) group_left(node) kube_pod_info != 1
    FOR 10m
    ANNOTATIONS {
    summary = "Flannel on node {{ $labels.node }} is not ready",
    description = "The flannel pod is not running. Please check if the daemon set exists and the label selector is not preventing th epod from being deployed on this node. Check pod logs and whether the docker and kubelet services are running on the box.",
    }
