ALERT Metrics_Node
    IF up{kubernetes_name="prometheus-prometheus-node-exporter"} * on(instance) group_left(nodename) node_uname_info == 0
    FOR 10m
    ANNOTATIONS {
    summary = "Unable to scrape metrics from node {{ $labels.nodename }} ",
    description = "The prometheus node exporter is not running or the node itself might be down. Please check if the docker and kubelet services are running on the box and whether node exporter daemon set was able to start a pod on the node.",
    }